.tab {
  opacity: 0.5;
  font-family: nastya;
  color: #07054e;
}

.dif {
  font-size: 20px;
  text-align: center;
  font-family: nastya;
  color: #0b2b83;
  padding-top: 1rem;
  line-height: 1;
}

.deti {
  line-height: 1;
}

.tit {
  color: #ff00dd;
  text-shadow: #3d9156 1px 1px;
}