.logo_a {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.foto-logo {
  max-width: 200px;
  margin-right: 20px;
}

@media (max-width: 769px) {
  .foto-logo {
    width: 160px;
  }
}

@media (max-width: 426px) {
  .foto-logo {
    width: 140px;
  }
}

@media (max-width: 376px) {
  .foto-logo {
    width: 120px;
  }
}