@font-face {
  font-family: Aventador;
  src: url(./assets/fonts/Aventador\ script.ttf);
}

@font-face {
  font-family: CoopBlack;
  src: url(./assets/fonts/CoopBlack_Cyrillic_0.ttf);
}

@font-face {
  font-family: EFN;
  src: url(./assets/fonts/EFN\ Lemon.ttf);
}

@font-face {
  font-family: call;
  src: url(./assets/fonts/ofont.ru_Calligraphia\ One.ttf);
}

@font-face {
  font-family: good;
  src: url(./assets/fonts/ofont.ru_Good\ Vibes\ Pro.ttf);
}

@font-face {
  font-family: old;
  src: url(./assets/fonts/ofont.ru_Old\ Classic.ttf);
}

body {
  background-image: url(./assets/images/fon.jpg);

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: auto auto;
  background-size: cover;
}